.btn {
    padding: 10px 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    color: white;
}

.btn-primary {
    background-color: #000913;
    color: white;
}

.btn-secondary {
    background-color: #6c757d;
    color: rgb(2, 16, 66);
}
