@import url("../public/fonts/font.css");
@import "tailwindcss";

@custom-variant dark (&:is(.dark *));



:root {
  color-scheme: light dark;
  font-family: "Inter";
  --background: light-dark(white, #0E1026);
  --background-second: light-dark(#0E1026, lab(35.03% -8.77 -8.15 / 0.21));
  --foreground: light-dark(#0E1026, lab(100% 0.01 -0.01));
  --foreground-second: light-dark(lab(100% 0.01 -0.01), #0E1026);
  --border: light-dark(#C2C6D0, lab(100% 0.01 -0.01 / 0.226));
  --border-second: light-dark(lab(100% 0.01 -0.01 / 0.226), #c2c6d05a);
}

.dark {
  color-scheme: dark;
}

@theme {
  --color-background: var(--background);
  --color-background-second: var(--background-second);
  --color-foreground: var(--foreground);
  --color-foreground-second: var(--foreground-second);
  --color-border: var(--border);
  --color-border-second: var(--border-second);


  --spacing-slider-left: 2px;
  --spacing-slider-width: 40px;
}


@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  h1,h2,h3,h4{
    font-family: "Geist";
    font-weight: "800"
  }
}

@layer components {
  .w-container {
    @apply max-w-6xl mx-auto;
  }

  .ease {
    @apply transition-all duration-300 ease-in-out;
  }
}